div#footer{
  padding: 1em;
}

div#footer h5{
  text-transform: uppercase;
  text-align: center;
}

#footer .col-sm{
  padding: 2em;
}

div#footer p{
  font-size: 11pt;
  color: #ccc;
  text-align: center;
}

div#app{
  grid-area: app;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

div#repository{
  grid-area: repo;
}

div#license{
  grid-area: license;
}

div.repo-card{
  background-color: #202020;
}

img#play-button{
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
