<div id="footer">
  <div id="repository">
    <h5 i18n>Get the app</h5>
    <p i18n>Download the free app for Android and come alive again the moments that shaped Manresa.    </p>
      <a href='https://play.google.com/store/apps/details?id=com.singlevoid.caterina&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img id="play-button" alt='Disponible a Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/ca_badge_web_generic.png'/></a>
  </div>

  <div id="repository">
    <h5></h5>
  </div>

</div>


