
div.home-container{
  background-color: #202020;
}

div#landing {
  display: flex;
  width: 100%;
  height: 15em;
  background: rgba(20, 20, 20, 1);
  z-index: 2;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img#landing-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

img#app-icon{
  width: 2.5em;
  margin-right: 2em;
}

div#logo{
  display: flex;
  position: absolute;
  z-index: 1;
}


h1#logo-1{
  font-size: 30pt;
  color: #8656bd;
  text-transform: uppercase;
  font-weight: Bold;
}

h1#logo-2{
  font-size: 30pt;
  text-transform: uppercase;

}

div.info-container{
  display:grid;
  grid-template: ". col1 col2 .";
  grid-template-columns: 15% 35% 35% 15%;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

div#app-description{
  grid-area: col1;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

img#app-preview{
  grid-area: col2;
  width: 120%;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4em;
}

img#play-button{
  display: block;
  margin-top: 2em;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 800px){

  img#app-preview{
    width: 80%;
    margin-left: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  div#logo{
    display: flex;
    position: absolute;
    z-index: 1;
  }

  div#landing{
    height: 30em;
  }

  h1#logo-1{
    font-size: 60pt;

  }

  h1#logo-2{
    font-size: 60pt;

  }
}
