
<div class="home-container">

  <div id="landing">

    <img id="landing-img" src="assets/home_background_4x.jpg">

    <div id="logo">
      <img id="app-icon" src="assets/app_icon.svg">
      <h1 id="logo-1">Reviu</h1>
      <h1 id="logo-2">Manresa</h1>
    </div>

  </div>

  <div class="row">

    <div class="col-sm text-center my-auto">
      <h2 i18n>The Images of Manresa in your hand</h2>
      <p i18n>Download the free app for Android and come alive again the moments that shaped Manresa. Explore the city and it's history and see all the moments and stories that are near you that shaped the city.</p>
      <a href='https://play.google.com/store/apps/details?id=com.singlevoid.caterina&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img id="play-button"
            src='https://play.google.com/intl/en_us/badges/static/images/badges/ca_badge_web_generic.png'/>
      </a>
    </div>

    <div class="col-sm text-center center-block">
      <img class="img-responsive" id="app-preview" src="../assets/app-download.png">
    </div>

  </div>


  <div class="row black-grey my-auto" >

    <a class="card col-sm text-center my-auto" href="#near">
      <div class=" card col-sm text-center my-auto">
        <span class="material-icons">person_pin_circle</span>
        <h4 class="card-title" i18n>Near</h4>
        <p class="card-body" i18n>Find the nearest photographs around you while walking the city</p>
      </div>
    </a>

    <a class="card col-sm text-center my-auto" href="#explore">
      <div>
        <span class="material-icons">explore</span>
        <h4 class="card-title" i18n>Explore</h4>
        <p class="card-body" i18n>Explore the city map and discover all the stories</p>
      </div>
    </a>



    <a  class="card col-sm text-center my-auto" href="#search">
      <div>
        <span class="material-icons">search</span>
        <h4 class="card-title" i18n>Search</h4>
        <p class="card-body" i18n>Use the filters and search for specific locations, authors, collections and more</p>
      </div>
    </a>
  </div>

  <div class="row" id="near">

    <div class="col-sm text-center my-auto">
      <h4 i18n>Near</h4>
      <p i18n>Manresa has an ancient, diverse and relevant heritage: the medieval walls and churches, the Baroque buildings and the factories and houses of modernist style,
        the sculptures, the facades of the streets and the squares of the Historic Center. It also has a rich intangible heritage that includes all those festive, musical,
        traditional and popular manifestations.</p>

        <p i18n>Set a distance in meters from you and have a window to all the photographs and stories that happenned around your location while traveling
        and visiting the city.</p>
    </div>

    <div class="col-sm text-center my-auto">
      <img class="img-responsive" src="../assets/app-near.png">
    </div>


  </div>


  <div class="row black-grey text-center" id="explore">

    <div class="col-sm text-center my-auto" >
      <img class="img-responsive" src="../assets/app-explore.png">
    </div>

    <div class="col-sm text-center my-auto">
      <h4 i18n>Explore</h4>
      <p i18n>Many stories happened in the streets and squares of Manresa, explore the map and its recesses and find all the photographs that have been geolocated.</p>
    </div>

  </div>

  <div class="row"  id="search">

    <div class="col-sm text-center my-auto">
      <h4 i18n>Search</h4>
      <p>
        Search and filter all the photographs with the multiple search options: Geolocation of the place where the photograph was taken,
        Author of the photograph, collection of which the photograph is part, origin of the document or date it was taken.
      </p>
    </div>

    <div class="col-sm text-center my-auto">
      <img class="img-responsive" src="../assets/app-search.png">
    </div>



  </div>


</div>
